*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("https://images.unsplash.com/photo-1661961112951-f2bfd1f253ce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80");
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.body-light{
    background-color: white;
    padding:10px;
    color: black;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
    box-shadow: 1px 1px 14px black;
    border-radius: 16px;
    width:450px;
    margin-top: 15%;
}
.body-dark{
    background-color: black;
    padding:10px;
    color: white;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
    box-shadow: 1px 1px 14px black;
    border-radius: 16px;
    width:450px;
    margin-top: 15%;
}
.header{
    width:100%;
    display: flex;
 justify-content: space-between;
    align-items: center;
    padding: 4px;
}
.header .current-date{
    padding: 4px;
    font-size: 18px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    cursor: pointer;
}
   .header .time{
    border-radius: 8px;
    padding: 4px 16px;
    background-color: rgb(0, 255, 255,0.5);
    margin-left: 10px;
   }
   .header .prevNext{
    padding: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   }
   .header .prevNext .cal-icon{
    width: 40px;
    height:40px;
    border-radius: 50%;
    background-color: rgb(243, 243, 226, 0.5);
    text-align: center;
    font-size: 14px;
    padding: 12px;
    cursor: pointer;
    margin-left :10px;
   }
   .calendar{
    margin-top: 10px;
    width: 100%;
    padding:10px;
   }
   .cal-days{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    place-items: center;
    margin-bottom: 12px;
    padding:8px;
    border-bottom: 2px solid gray;
   }
   .cal-days div{
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
   }
   .cal-dates{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    place-items: center;
   }
   .cal-dates div{
    padding: 4px;
    margin-top: 10px;
    width: 40px;
    height:40px;
    border-radius: 50%;
    background-color: rgb(202, 199, 199, 0.5);
    padding:12px;
    text-align: center;
   }
   .calendar .cal-dates .active{
    background-color: green;
    color: white;
   }
   .calendar .cal-dates .inactive{
    color:rgb(180, 180, 180);
   }
.mode{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
}
.mode span{
    font-weight: 500;
}
.toggle-body{
    width:50px;
    height: 24px;
    border-radius: 12px;
    margin-left: 10px;
    background-color: rgb(107, 106, 106);
}
.mode .toggle-body .toggle-icon{
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: black;
    border-radius: 50%;
    margin-top: 2px;
    margin-left: 2px;
    transition: left 0.5s ease-in-out;
}
.body-light .toggle-body .toggle-icon{
    margin-top: 2px;
    margin-left: 28px;
    background-color: white;
}